In [1]:
import numpy as np
import pandas as pd

In [2]:
import random

In [29]:
df=pd.read_csv("C:\\Users\\KIIT\\Downloads\\pokemon.csv",encoding='latin1',delimiter=',')

In [30]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [31]:
df.shape

(800, 13)

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [33]:
df.duplicated().sum()

0

In [34]:
df.sample(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
516,465,Tangrowth,Grass,NaN,535,100,100,125,110,50,50,4,False
677,616,Shelmet,Bug,NaN,305,50,40,85,40,65,25,5,False
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
609,549,Lilligant,Grass,NaN,480,70,60,75,110,75,90,5,False
344,315,Roselia,Grass,Poison,400,50,60,45,100,80,65,3,False
146,135,Jolteon,Electric,NaN,525,65,65,60,110,95,130,1,False
69,64,Kadabra,Psychic,NaN,400,40,35,30,120,70,105,1,False
640,579,Reuniclus,Psychic,NaN,490,110,65,75,125,85,30,5,False
528,476,Probopass,Rock,Steel,525,60,55,145,75,150,40,4,False
252,233,Porygon2,Normal,NaN,515,85,80,90,105,95,60,2,False

In [35]:
df.sample(frac=0.75)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
385,353,Shuppet,Ghost,NaN,295,44,75,35,63,33,45,3,False
788,712,Bergmite,Ice,NaN,304,55,69,85,32,35,28,6,False
752,682,Spritzee,Fairy,NaN,341,78,52,60,63,65,23,6,False
221,206,Dunsparce,Normal,NaN,415,100,70,70,65,65,45,2,False
33,28,Sandslash,Ground,NaN,450,75,100,110,45,55,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,313,56,61,65,48,45,38,6,False
153,142,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False
27,22,Fearow,Normal,Flying,442,65,90,65,61,61,100,1,False
383,351,Castform,Normal,NaN,420,70,70,70,70,70,70,3,False
375,343,Baltoy,Ground,Psychic,300,40,40,55,40,70,55,3,False

In [38]:
select_rows=df.loc[df['Type 1']=='Grass']

In [43]:
select_rows.sample(20)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
516,465,Tangrowth,Grass,NaN,535,100,100,125,110,50,50,4,False
467,420,Cherubi,Grass,NaN,275,45,35,45,62,53,35,4,False
555,496,Servine,Grass,NaN,413,60,60,75,60,75,83,5,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False
310,286,Breloom,Grass,Fighting,460,60,130,80,60,60,70,3,False
296,273,Seedot,Grass,NaN,220,40,40,50,30,30,30,3,False
521,470,Leafeon,Grass,NaN,525,65,110,130,60,65,95,4,False
297,274,Nuzleaf,Grass,Dark,340,70,70,40,60,40,60,3,False
166,152,Chikorita,Grass,NaN,318,45,49,65,49,65,45,2,False
274,254,Sceptile,Grass,NaN,530,70,85,65,105,85,120,3,False
505,455,Carnivine,Grass,NaN,454,74,100,72,90,72,46,4,False
75,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
617,556,Maractus,Grass,NaN,461,75,86,67,106,67,60,5,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
609,549,Lilligant,Grass,NaN,480,70,60,75,110,75,90,5,False
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
550,492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
275,254,SceptileMega Sceptile,Grass,Dragon,630,70,110,75,145,85,145,3,False
701,640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True